body {
    font-family: Arial, sans-serif;
    background-image: url('imagenes/hojitas.jpg'); /* Cambia esto por la URL de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #333;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
    color: #444;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.result {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.result h2 {
    color: #4CAF50;
}

.result p {
    font-size: 18px;
    color: #333;
}

.result img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}
footer {
    background:#69a56e;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px; 
}
img {
    background-size: cover;
}